<!--<p>
  {{ncard.name}}
  
</p>-->
<style>
    .d-flex {

    }
    .mt-3 {

    }
</style>
<div class="d-flex flex-row mt-3">
  <p class="p-3 aling-self-center box">{{ncard.votes}}</p>
  <div>
  <div class="media">
  <div class="media-body">
    <h5 class="mt-5">{{ncard.name}}</h5>
    <div>
      <a href="#"(click)="upvote()"><i class="fas fa-arrow-up">upvote</i></a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="#"(click)="downvote()"><i class="fas fa-arrow-down">downvote</i></a>
    </div>
  </div>
</div>
</div>
</div>