<div class="container">
    <app-card *ngFor="let c of sorted" [ncard]="c"></app-card>
    <form>
      <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" #firstName>
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" #lastName>
      </div>
      <button type="button" class="btn btn-primary"(click)="onclick(firstName,lastName)">Submit</button>
    </form>
    
  </div>
  